*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
#grid_wrapper{
    grid-template-columns: 3fr 3fr 2fr 2fr;
    grid-template-rows: 2fr 4fr 4fr 2fr;
    grid-template-areas:
    "he he he he"
    "ma ma ar ar"
    "ma ma ar ar"
    "na na na na"
    ;
}
#title{
    grid-area: he;

}
#main-bilder{
    grid-area: ma;

}
#info{
    grid-area: ar;
    
}
#navigation{
    grid-area: na;
}