*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    color:white;
    overflow-x:hidden;
}
#grid_wrapper_main{
    display:grid;
    width:100vw;
    height:100vh;
    grid-template-columns: 3fr 3fr 2fr 2fr;
    grid-template-rows: 2fr 4fr 4fr 2fr;
    grid-template-areas:
    "he he he he"
    "ma ma .. .."
    "ma ma .. .."
    "na na na na"
    ;
    background-image: URL("../img/startsidabakgrund.jpg");
    background-repeat:repeat;
    background-size: 100%;
    background-position-y:50%;
}
#title{
    grid-area: he;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr;
    grid-template-areas:
    "h1";
    align-items: center;
    justify-content: space-around;
    font-size:200%;
    background-color:green;
    border:3px black solid;
}
#title h1{
    grid-area:h1;
    border:2px solid black;
    background-color:darkolivegreen;
}
#main-bilder{
    grid-area: ma;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-size:150%;
    border: 5px solid black;
    background-image:URL("../img/startsida_kamoflage.jpg")
}
#main-bilder b{
    border:2px solid black;
    background-color:darkolivegreen;
}
#navigation{
    grid-area: na;
    display:flex;
    align-items: center;
    justify-content: space-around;
    font-size:175%;
    border:5px solid black;

}
#navigation a{
    border:2.5px solid black;
    background-color:burlywood;
}
@media screen and (max-width: 600px) {

    #grid_wrapper_main{
        display:grid;
        width:100vw;
        height:100vh;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows:1fr 1fr 7fr 1fr;
        grid-template-areas:
        "he he he"
        "ma ma ma"
        ". ar ."
        "na na na";
        background-image: URL("../img/startsidabakgrund.jpg");
        background-repeat: repeat;
        background-size: 150%;
        background-position-y:50%;
        overflow:scroll;
    }
    #title{
        grid-area: he;
        background-image:URL("../img/sand-background.jpg");
        background-repeat:repeat-y;
        display:flex;
        align-items: center;
        justify-content: space-around;
        font-size:100%;
        border:6px solid black;
    }
    #navigation{
        grid-area: na;
        display:flex;
        align-items: center;
        justify-content: space-around;
        background-image:URL("../img/sand-background.jpg");
        background-repeat:repeat-y;
        font-size:100%;
        border:0px;
    }
    #info{
        grid-area: ma;
        opacity: 0%;
    }
    #main-bilder{
        grid-area: ar;
        border:0px;
        background-image:none;
    }
    #main-bilder b{
        border:2px solid black;
        background-color:darkolivegreen;
        font-size:90%;
        background-image:none;
    }
}



#grid_wrapper_produkter{
    display:grid;
    width:100vw;
    height:100vh;
    grid-template-columns:4fr 4fr 4fr;
    grid-template-rows: 3fr 2fr 300px;
    grid-template-areas:
    "he he he"
    "na na na"
    "ma ma ma";
    background-image:URL("../img/Jungle-background.jpg");
    background-size:100%;
    overflow-x:hidden;
    
}
#produkt_header{
    display:flex;
    grid-area:he;
    align-items:center;
    justify-content:space-around;
    flex-direction: column;
    overflow-x:hidden;
}
#produkt_header h1{
    border:2px solid black;
    background-color:rgb(68, 90, 31);
}
#produkt_header h3{
    border:2px solid black;
    background-color:rgb(68, 90, 31);
}
#navigera_produkter{
    display:flex;
    grid-area:na;
    align-items:center;
    justify-content:space-around;
    overflow-x:hidden;
    font-size:175%;
    border-bottom:5px solid black;
    
}
#navigera_produkter a{
    border:2.5px solid black;
    background-color:gray;
}
#main_produkt_grid_wrapper{
    grid-area:ma;
    display:grid;
    width:100vw;
    height:100vh;
    grid-template-columns:1fr 1.5fr 1fr 1.5fr 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 1.5fr 1fr 1.5fr 1fr;
    grid-template-areas:
    ".. .. .. .. .. .. .."
    ".. p1 .. p2 .. p3 .."
    ".. .. .. .. .. .. .."
    ".. p4 .. p5 .. p6 .."
    ".. .. .. .. .. .. ..";
    background-image: URL("../img/startsidabakgrund.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-x:hidden;
}
#produkt_1{
    grid-area: p1 ;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    background-image:URL("../img/sand-background.jpg");
}
#produkt_1 p{
    overflow-y:hidden;
}
#produkt_1>img{
    object-fit:cover;
    width:18vw;
}
#produkt_2{
    grid-area: p2 ;
    background-image:URL("../img/sand-background.jpg");
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}
#produkt_2 p{
    overflow-y:hidden;
}
#produkt_2>img{
    object-fit:cover;
    width:18vw;
}
#produkt_3{
    grid-area: p3 ;
    background-image:URL("../img/sand-background.jpg");
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}
#produkt_3 p{
    overflow-y:hidden;
}
#produkt_3>img{
    object-fit:cover;
    width:18vw;
}
#produkt_4{
    grid-area: p4 ;
    background-image:URL("../img/sand-background.jpg");
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}
#produkt_4 p{
    overflow-y:hidden;
}
#produkt_4>img{
    object-fit:cover;
    width:18vw;
}
#produkt_5{
    grid-area: p5 ;
    background-image:URL("../img/sand-background.jpg");
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}
#produkt_5 p{
    overflow-y:hidden;
}
#produkt_5>img{
    object-fit:cover;
    width:18vw;
}
#produkt_6{
    grid-area: p6 ;
    background-image:URL("../img/sand-background.jpg");
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}
#produkt_6 p{
    overflow-y:hidden;
}
#produkt_6>img{
    object-fit:cover;
    width:18vw;
}
.menu{
    width:100vw;
    height:2fr;
    background-color:aquamarine;
    position:fixed;
    top:3fr;
    transition:left 0.4s;
    z-index:10;
}
@media screen and (max-width: 600px) {

    #grid_wrapper_produkter{
        display:grid;
        width:100vw;
        height:100vh;
        grid-template-columns:4fr 4fr 4fr;
        grid-template-rows: 3fr 2fr 300px;
        grid-template-areas:
        "he he he"
        "na na na"
        "ma ma ma";
        overflow-y:scroll;
        background-repeat: repeat-y;
    }
    #produkt_header{
        display:flex;
        grid-area:he;
        align-items:center;
        justify-content:space-around;
        flex-direction: column;
        border-bottom:5px solid black;
    }
    #produkt_header h1{
        font-size:100%;
    }
    #produkt_header h3{
        font-size:80%;
    }
    #navigera_produkter{
        display:flex;
        grid-area:na;
        align-items:center;
        justify-content:space-around;
        font-size:100%;
    }
    #main_produkt_grid_wrapper{
        grid-area:ma;
        display:grid;
        width:100vw;
        height:100vh;
        grid-template-columns:1fr 1.5fr 1fr;
        grid-template-rows: 1fr 1.5fr 1fr 1.5fr 1fr 1.5fr 1fr 1.5fr 1fr 1.5fr 1fr 1.5fr 1fr;
        grid-template-areas:
        ".. .. .."
        ".. p1 .."
        ".. .. .."
        ".. p2 .."
        ".. .. .."
        ".. p3 .."
        ".. .. .."
        ".. p4 .."
        ".. .. .."
        ".. p5 .."
        ".. .. .."
        ".. p6 .."
        ".. .. ..";
        background-image: URL("../img/startsidabakgrund.jpg");
        background-repeat:no-repeat;
        background-size: cover;
        overflow-x:hidden;
    }
    #produkt_1{
        grid-area: p1 ;
        display:flex;
        flex-direction:row-reverse;
        border:2px solid black;
    }
    #produkt_1>img{
        width:50%;
    }
    #produkt_2{
        grid-area: p2 ;
        display:flex;
        flex-direction:row-reverse;
        border:2px solid black;
    }
    #produkt_2>img{
        width:50%;
    }
    #produkt_3{
        grid-area: p3 ;
        display:flex;
        flex-direction:row-reverse;
        border:2px solid black;
    }
    #produkt_3>img{
        width:50%;
    }
    #produkt_4{
        grid-area: p4 ;
        display:flex;
        flex-direction:row-reverse;
        border:2px solid black;
    }
    #produkt_4>img{
        width:50%;
    }
    #produkt_5{
        grid-area: p5 ;
        display:flex;
        flex-direction:row-reverse;
        border:2px solid black;
    }
    #produkt_5>img{
        width:50%;
    }
    #produkt_6{
        grid-area: p6 ;
        display:flex;
        flex-direction:row-reverse;
        border:2px solid black;
    }
    #produkt_6>img{
        width:50%;
    }

}




.bokning_grid_wrapper{
    display:grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 2.5fr 8fr 2.5fr;
    grid-template-rows: 2fr 7fr 3fr;
    grid-template-areas:
    "he he he"
    "ma ar as"
    "na na na"
}
.bokning_header{
    grid-area:he;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:200%;
    background-image:URL("../img/Jungle-background.jpg");
    border:6px solid black;
}
.bokning_header h1{
    border:2px solid black;
    background-color:rgb(67, 87, 33);
}
.bokning_article{
    grid-area:ar;
    background-color:yellow;
    border-left:5px solid black;
    border-right:5px solid black;
    background-image:URL("../img/sand-background.jpg")
}
.bokning_list_hollare{
    grid-area:ma;
    display:flex;
    background-image:URL("../img/startsida_kamoflage.jpg")
}
.bokning_lista{
    display:flex;
    position:relative;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    left:25px;
    font-size:125%;
}
.bokning_lista li{
    border:2px solid black;
    background-color:rgb(144, 155, 98);
}
.bokning_navigation{
    grid-area:na;
    display:flex;
    align-items:center;
    justify-content:space-around;
    overflow-x:hidden;
    font-size:200%;
    border:5px solid black;
    background-image:URL("../img/Jungle-background.jpg");
}
.bokning_navigation a{
    border: 2.5px solid black;
    background-color: gray;
}
.bokning_reklam{
    grid-area:as;

}
.bokning_reklam>img{
    object-fit:cover;
    width:100%;
    height:100%
}
@media screen and (max-width: 600px) {

    .bokning_grid_wrapper{
        display:grid;
        height: 100vh;
        width: 100vw;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr 6fr 0fr;
        grid-template-areas:
        "he he"
        "na na"
        "ma ar"
        "as as";
    }
    .bokning_header{
        grid-area:he;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size:150%;
        border:0px;
        border-bottom:5px solid black;
    }
    .bokning_article{
        grid-area:ar;
        background-color:yellow;
        overflow-y:scroll;
    }
    .bokning_list_hollare{
        grid-area:ma;
        background-color:darkgreen;
    }
    .bokning_lista{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:space-around;
        background-image:none;
    }
    .bokning_navigation{
        grid-area:na;
        display:flex;
        align-items:center;
        justify-content:space-around;
        overflow-x:hidden;
        font-size:100%;
        border:0px; 
        border-bottom:5px solid black;
    }
    .bokning_reklam{
        grid-area: as;
        position:fixed;
        display:none;
    }


}






#info_grid_wrapper{
    display:grid;
    width:100vw;
    height:100vh;
    background-image: URL("../img/info_bakgrund.jpg");
    background-position:top;
    background-repeat: no-repeat;
    background-size:100vw;
    grid-template-columns: 7fr 2fr;
    grid-template-rows: 2fr 2fr 6fr;
    grid-template-areas: 
    "he he"
    "na na"
    "ma as";
    overflow:hidden;
}
#info_header{
    grid-area:he;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:200%;

}
#info_main{
    grid-area:ma;
    background-image:URL("../img/sand-background.jpg");
    overflow:scroll;
    overflow-x:hidden;
}
#info_reklam{
    grid-area:as;
    background-color:sienna;
}
#info_reklam>img{
    object-fit:cover;
    width:100%;
    height:100%;
    overflow:hidden;
}
#info_navigation{
    grid-area:na;
    display:flex;
    align-items:center;
    justify-content:space-around;
    font-size:200%;
    border-bottom:5px solid black;
}
#info_navigation a{
    border: 2.5px solid black;
    background-color:gray;
}
@media screen and (max-width: 600px){

    *{
        overflow:hidden;
        
    }
    #info_grid_wrapper{
        display:grid;
        width:100vw;
        height:100vh;
        background-image:URL("../img/info_bakgrund.jpg");
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 8fr 2fr;
        grid-template-areas: 
        "he"
        "na"
        "ma"
        "ma";
        background-size:100vw 30vh;
    }
    #info_header{
        grid-area:he;
        display:flex;
        align-items: center;
        justify-content: center;
        font-size:150%;

    }
    #info_main{
        grid-area:ma;
        overflow:scroll;
        overflow-x:hidden;
        border-bottom:black 2px solid;
    }
    #info_reklam{
        display:none;
    }
    #info_navigation{
        grid-area:na;
        background-image:URL("../img/sand-background.jpg");
        background-size:100vw;
        display:flex;
        align-items:center;
        justify-content:space-around;
        font-size:100%;
        border-bottom:black 2px solid;
        border-top:black 2px solid;        
    }

}




.grid_wrapper{
    height:90vh;
    width:100vw;
    display:grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas: 
    "he ar ar"
    "fo ar ar";
    background-image:URL(../img/jungle_big_background.jpg);
    background-size:100vw 90vh;
    background-repeat:no-repeat;
}
.huvud{
    grid-area:he;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}
.huvud h1{
    background-color:darkgreen;
    border:solid 5px black;
    color:white;
}
.huvud b{
    background-color:darkgreen;
    border:solid 5px black;
    color:white;
}
.bild{
    grid-area:ar;

}
.footer{
    grid-area:fo;
    color:white;
    display:flex;
    justify-content: space-evenly;
}
#kontakt_lista{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    margin:40px;
}
#kontakt_lista li{
    color:white;
    border:solid 5px black;
    background-color:darkgreen;
    overflow-y: hidden;
}
.bodi_nav_nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    background-image:URL(../img/Jungle-background.jpg);
    border-bottom:3px solid black;
    font-family: sans-serif;
}

.nav-links {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 30%;
    position: absolute;
    right: 0px;
    top: -90vh;
    background-color: lightgreen;
    justify-content: space-around;
    align-items: center;
    border-left:2px solid black;
    transition:all 1s;
}

.navActive{
    transform: translateY(100vh);
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(223, 144, 70);
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
}

.burger div {
    background-color: rgb(223, 144, 70);
    height: 3px;
    width: 25px;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.3s;
    margin-right:50px;
    cursor:pointer;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity:0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
@media screen and (max-width: 728px){

    .grid_wrapper{
        height:90vh;
        width:100vw;
        display:grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 2fr 2fr;
        grid-template-areas: 
        "he ar ar"
        "fo fo fo";
    }
    .huvud{
        grid-area:he;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center;
    }
    .huvud h1{
        background-color:darkgreen;
        border:solid 5px black;
        color:white;
        font-size:100%;
        
    }
    .huvud b{
        background-color:darkgreen;
        border:solid 5px black;
        font-size:50%;
        color:white;
    }
    .bild{
        grid-area:ar;
    
    }
    .footer{
        grid-area:fo;
        color:white;
        display:flex;
        justify-content: space-between;
        overflow-x:visible;
    }
    #kontakt_lista{
        display:flex;
        flex-direction: column;
        left:10px;
        margin:40px;
    }
    #kontakt_lista li{
        color:white;
        border:solid 5px black;
        background-color:darkgreen;
        justify-content: space-around;
    }
    .nav-links a{
        font-size:90%;
    }

}
